@import url('https://fonts.googleapis.com/css2?family=Buenard&family=Sue+Ellen+Francisco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');
@keyframes rotate-scale-down{0%{transform:scale(1) rotateZ(0)}50%{transform:scale(.5) rotateZ(180deg)}100%{transform:scale(1) rotateZ(360deg)}}
/* VARIABLES */

    /* Pallete */
    
    $primary: #090909;
    $secondary: #FFFFFF;

    /* Font_family */
    $text-caps: font-family 'Sue Ellen Francisco', cursive;
    $text-alt: font-family'Buenard', serif;

    /* Spacing */
    $spacing_lg: 100px;
    $spacing_md: 40px;
    $spacing_s: 10px;
    $spacing_betweencolums: 16px;




* {
    margin: 0;
    padding: 0;
    
    
}

html {
    font-size: 62.5%;
}

.home {
    box-sizing: content-box;
}

body.body {
    width: 100%;
    max-width: 1100px;
    min-height: 100%;
    margin: 0 auto; 
    background-color: #090909;
    padding: 0%;
    color: #FFFFFF;
    text-decoration: none;
    box-sizing: border-box;
}



