.header {
    background-color: #090909;
    color: #FFFFFF;
    text-decoration-line: none;
    font-family: 'Sue Ellen Francisco', cursive; }
    .header .nav-item {
      color: #FFFFFF;
      text-decoration-line: none;
      font-family: 'Sue Ellen Francisco', cursive; }
    .header li {
      text-decoration: none;
      list-style: none;
      text-decoration-line: none;
      font-family: 'Sue Ellen Francisco', cursive; }
  