#box_left_contact{
    font-family: 'Sue Ellen Francisco', cursive;

}
.contacto 
    {
        -webkit-animation: rotate-scale-down 0.65s linear both;
                animation: rotate-scale-down 0.65s linear both;
    }

    